body {
	@include fontMain;
	color:$color_text;
	background:$color_bg;
}


h1,h2,h3,h4,h5,h6{
	@include fontTitle;
}

.main-content {

	.dion-logo {
		margin:20px 0;
		text-align: center;
	}
}

.content-parts{
	width:100%;
	background:#999;
	min-height:100px;
}

/**
*	Mobile css here
*
*/
@media only screen and (max-width: 767px) {
	
	.main-content {

		.dion-logo {
			img{
				width:50%;
			}		
		}
	}
}


