/*------------------
	Colors & Fonts
-------------------*/

$color_text :#000;

$color_bg : #f7f7f7;


@mixin fontMain {
  font-family: "Arial";
}

@mixin fontTitle {
  font-family: "Helvetica","Verdana",;
}
