/*------------------
	Colors & Fonts
-------------------*/

$color_text :#666;

$color_bg : rgb(222, 223, 204);


@mixin fontMain {
  font-family: "Arial";
}

@mixin fontTitle {
  font-family: "Helvetica","Verdana",;
}
